.chat-main-window{
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: rgba(245, 145, 109, 0.205);
}
.chat-message{
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.301);
}
.chat-message:first-child{
    border-top: none;
}
.chat-message h5 em{
    color: #ccc;
    font-size: 12px;
    font-style: normal; 
}
.chat-message-form{
    padding: 10px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    overflow: hidden;
    background-color: rgba(253, 207, 190, 0.205);
}
#chat-username-input{
    width: 300px;
    background-color: rgba(248, 248, 248, 0.774);
}

#chat-text-input{
    background-color: rgba(248, 248, 248, 0.774);
}
#chat-send-message-button{
    margin-top: 45px;