.register{
    font-style: italic;
    font-weight: 600;
    padding: 20px auto;
    font-size: 30px;
}

.form-horizantal{
    width: 25%;
}

.inputField{
    background-color:rgba(253, 207, 190, 0.205);
}

.inputField:focus{
    border: 1px solid grey;
}

button{
    float: right;
    /* font-size: 14px;
    padding: 10px; */
}

.errors{
    color: rgb(158, 88, 88);
}

.errors li{
    width: 150%;
    list-style-type: circle;
    /* text-align: center; */
    text-align: justify
}